* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #CCC6E6; 
    color: #4D36A9; 
    margin-top: 8rem;
}


nav {
    background-color: #ffffff;
    color:#4D36A9; 
    padding: 10px 20px; 
    overflow: visible; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    top:0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav a {
    color:rgb(82,66,147); 
    text-decoration: none;
    padding: 10px 10px;
    text-align: right;
}

.logo img {
    height: 100px; 
    
}

.navbar-right {
    display: flex; 
    align-items: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute; 
    top: calc(100% + 10px); 
    left: 0; 
    background-color: #ffffff; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: rgb(38,21,119); 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}
@media screen and (max-width: 768px){
    .navbar-right{
        display: none;
    }
    .logo img {
        height: 4rem;   
    }
    .hamburger{
        display: none;
    }
    .navbar-right.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 5rem;
        left: 0;
        background-color: #fff; /* Optional: Add background color for better visibility */
        width: 100%;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    
    .navbar-right a {
        text-align: center;
        padding: 10px 0;
    }
    
    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    
    .hamburger .line {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #4D36A9;
        margin: 5px;
    }
     
}



/* main banner styles */

.banner{
    background-image: url(arya.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    width:100%;
    margin-top: 7rem; 
    padding-bottom: 2rem;
}

.mathDept{
    background-image: url(sd.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 8rem;
    background-attachment: fixed; 
}


.banner-container {
    width: 100%;
    height: 100%;
    padding: 10rem 3rem 7rem 0; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-heading{
    font-weight: 300;
    color: rgb(82,66,147);
    padding:0 0 1rem 0;
    font-size: calc(1.375rem + 1.5vw);
}
.year{
    font-weight: bold;
    color:rgb(38,21,119);
    font-size: calc(1.375rem + 1.5vw);
    padding:0 0 1rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dates{
    font-weight: 300;
    color:rgb(38,21,119);
    padding:1rem 0;
    font-size: calc(1.3rem + 0.6vw);
}
.venue{
    font-weight: 300;
    color: rgb(82,66,147);
    padding:0 0 1rem 0;
    font-size: calc(1.3rem + 0.6vw);
}

.counter{
    background-color: black;
    text-align: center;
    padding: 2rem;;
}
.timer{
    color: #ffffff;
}
#countdown {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    border: 0.5rem;
    border-color: #ffffff;
    background-color: black; 
    color: #ffffff;
}

.main-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.about-cont {
    display: flex;
    padding: 2rem 5rem;
}

.about-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0 1rem;
}

.logo1 img {
    width:100%;
    height:auto;
}
.info1{
    padding: 0 1rem;
}

.text1{
    color: rgb(82,66,147);
    font-size: calc(0.5rem + 0.7vw);
    font-weight: 400;
}


.container{
    padding: 0 2rem;
    margin-bottom: 80px;
    flex: 1;
}
.titleStyle1{
    font-weight: 300;
    color: rgb(82,66,147);
    padding: 0;
    margin:0;
    font-size: calc(1.375rem + 1.5vw);
}
.titleStyle2{
    font-weight: bold;
    color:rgb(38,21,119);
    font-size: calc(1.375rem + 1.5vw);
    padding:0;
    margin:0;
}
.divider{
    margin-bottom: 2rem;
    background-color: rgb(38,21,119);
    height:0.1rem;
    margin: 10px 0;
}

.about-institute{
    display:flex;
    padding: 0 0 0.1rem 0;
}

.about-institute-content {
    flex: 3;
    padding: 0 0 0 2rem;
}
.insti-img{
    flex:1;
}
.insti-img img {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 0;
}
.text-content{
    font-size: calc(0.6rem + 0.8vw);
}

.heading-secondary{
    font-weight: bold;
    color:rgb(82,66,147);
    font-size: calc(1.375rem + 1.5vw);
    padding:0 0 1rem 0;
}
.card{
    background-color: #f9f8f8;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}
.card-name{
    color:rgb(38,21,119);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 0.2em;
}
.card-description{
    color:rgb(38,21,119);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
}

.container1 {
    margin: 2rem 10rem;
}

.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.col-md-4-1 {
    flex: 0 0 calc(33.333%); 
    background-color: #fff;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box; 
}

.col-md-4-1:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-description1{
    font-size: 18px;
    font-weight: bold;
    color: rgb(38,21,119);
    margin: 0;
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); 
    }
}

.text{
    font-weight: 350;
    font-size: calc(0.7rem + 0.7vw);
    text-align: justify;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.idx {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idx h1 {
    margin: 0;
    font-size: calc(3.375rem + 3.5vw); 
    font-weight: 900;
}
.guideline{
    flex:7;
}

/* contact styles */
.contact-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1rem 5rem;
}

.text-container {
    flex: 1;
    padding: 20px;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.news {
    /* top: 0;
    left: 0;
    right: 0; */
    padding: 1rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px -4px;
    background-color:  #4D36A9;
}

.news ul {
    display: flex;
    list-style: none;
    padding: 0% 5%;
    margin: 0;
    font-size: 1rem;
    align-items: center;

}

.news ul li {
    /* padding: 10px 24px; */
    color: rgb(38,21,119);
    position: relative;
}

.springer-logo {
    flex: 0 0 8%; 
    display: flex;
    justify-content: center; 
}

.springer-logo img {
    max-width: 100%; 
    height: auto;
}

.news-item {
    flex: 1; 
    padding-left: 20px; 
    color: white; 
}

@media screen and (max-width: 768px){
    .contact-container{
        flex-direction: column;
    }
}

.date{
    padding:1rem 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    background-color: #907ddc;
    color: #ffffff;
    margin: 0.5rem 10rem 2rem;
}

.custom-list{
    list-style-type: none;
}

.heading-dates{
    text-align: center;
    font-size:xx-large;
    color: rgb(82,66,147);
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* footer styles */
.footer {
    position: relative;
    width: 100%;
    background: #4D36A9;
    min-height: 100px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: medium;
    color: #fff;
  }
  .menu__item {
    list-style: none;
    padding: 3px 0;
  }
  .menu {
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    padding: 0 8rem;
  } 
  
  .menu__link {
    /* font-size: 1.3rem; */
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 1;
    font-weight: 400;
    color: #fff;
  }
  
  .menu__link:hover {
    opacity: 0.75;
  }
  
  .copy {
    margin: 5rem 0 10px 0;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .quick-links{
    display: flex;
    justify-content:center;
  }
  
  .footer-header{
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
  }
 
  .main-footer-header{
    list-style: none;
    font-weight: bold;
    font-size:xx-large;
    margin-bottom: 10px;
  }

  .icons{
    margin-top: 40px;
  }

  .icons i{
    padding-right: 10px;
    font-size: x-large;
    text-decoration: none;
    color: #fff;
  }
  
  @media screen and (max-width: 768px){
    .quick-links {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        padding: 0;
        text-align: center;
    }

    .menu__item {
        margin: 10px 0;
        font-size: 0.9rem;
    }

    .copy{
        margin: 1rem 0;
        font-size: 0.8rem;

    }
  }

  /* .logo-link{
    width: 50%;
    height: auto;
  } */

  .logo-link img{
    width: 200px;
    height: auto;
  }
  
  .center-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 320px;
}

.center-content .card img {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 200px;
    text-align: justify;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
    background-color:#4D36A9;
    margin: 15% auto; /* 15% from the top and centered */
    color: #ffffff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s; /* Fade-in animation */
}

.welcome-popup, .heading-popup{
    text-align: center;
    margin-bottom: 2%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.content-popup{
    font-size: 1.3rem;
    text-align: justify;
}

.news {
    animation: pulse 2s infinite; /* Pulsing animation */
    padding: 20px;
    border-radius: 10px;
}

.news {
    background-color:white;
    border: 2px solid rgb(82,66,147);
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin: 20px 20px 0 20px; 
    transition: background-color 0.3s ease;
}

.news:hover {
    background-color:#ededed; /* Change background color on hover */
}

.springer-logo img{
    width:90%;
    height:auto;
}

.reg-header{
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.reg-header1{
    font-size:xx-large;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.qrcode{
    max-height:300px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;

}

.reg-note{
    /* font-size: medium; */
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 30px;
}

.circular-logo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    background: none; 
    border: none; 
}

.card-container1-logo, .logo-link, .card2 {
    background: none; 
    padding: 0;
    box-shadow: none;
    border: none;
}


.card2 img {
    display: block;
    margin: 0 auto;
    height:200px;
}

.location{
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    padding: 20px;
}

.location iframe{
    height: 300px;
    width: 1000px;
}

.location img{
    height: 300px;
    width: 300px;
}

.reach{
    padding: 50px;
}












.layout {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}
  
.main-content {
    display: flex;
    gap: 20px;
}
.content {
    flex: 2;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}
.content h2{
    font-weight: 700;
    margin-bottom: 10px;
}
.content p{
    margin: 0;
    font-size: 1rem;
    color: #555;
}
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-box {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info-box h5,h4 {
    font-weight: 700;
    margin-bottom: 10px;
    /* color: #0056b3; */
}
.info-box p, .info-box ul {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}
.info-box ul {
    padding-left: 20px;
    list-style-type: disc;
}

.titleStyleWorkshop {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    /* color: #333; */
    margin-bottom: 10px;
    width: 100%;
}
.titleStyleWorkshop1 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.organized {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    /* color: #555; */
    color: rgb(82,66,147);
}
.organized img {
    height: 35px;
    width: auto;
}

.legend-section {
    margin-top: 20px;
    padding: 10px;
    font-size: 0.9rem;
}
.legend-title {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}
.legend-list {
    list-style: none;
    padding: 0;
    columns: 2; 
}
.legend-item {
    margin-bottom: 5px;
}
  
  
  
